name: Playwright + Allure + Monocart Report

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  test-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------ RESTORE HISTORY (not mandatory for first run)
      - name: Download Allure History
        uses: actions/download-artifact@v4
        with:
          name: allure-history
          path: allure-results/history
        continue-on-error: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Install Allure CLI
        run: npm install -g allure-commandline --unsafe-perm

      # ------------------ RUN TESTS
      - name: Run Playwright Tests
        run: npx playwright test --reporter=line,allure-playwright,monocart-reporter

      # ------------------ GENERATE ALLURE REPORT
      - name: Generate Allure Report
        if: always()
        run: |
          mkdir -p allure-results
          allure generate allure-results -o allure-report --clean

      # ------------------ UPLOAD ARTIFACTS
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report/

      - name: Upload Allure History
        uses: actions/upload-artifact@v4
        with:
          name: allure-history
          path: allure-report/history
          if-no-files-found: ignore

      - name: Upload Monocart Report
        uses: actions/upload-artifact@v4
        with:
          name: monocart-report
          path: monocart-report/index.html
          if-no-files-found: warn

      # ------------------ DEPLOY TO GH PAGES
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
